.width-10 {
  width: calc(10% - 5px);
}
.width-15 {
  width: calc(15% - 5px);
}
.width-20 {
  width: calc(20% - 5px);
}
.width-25 {
  width: calc(25% - 5px);
}
.width-30 {
  width: calc(30% - 5px);
}
.width-33 {
  width: calc(33% - 5px);
}
.width-35 {
  width: calc(35% - 5px);
}
.width-40 {
  width: calc(40% - 5px);
}
.width-45 {
  width: calc(45% - 5px);
}
.width-50 {
  width: calc(50% - 5px);
}
.width-55 {
  width: calc(55% - 5px);
}
.width-60 {
  width: calc(60% - 5px);
}
.width-65 {
  width: calc(65% - 5px);
}
.width-66 {
  width: calc(66% - 5px);
}
.width-70 {
  width: calc(70% - 5px);
}
.width-75 {
  width: calc(75% - 5px);
}
.width-80 {
  width: calc(80% - 5px);
}
.width-85 {
  width: calc(85% - 5px);
}
.width-90 {
  width: calc(90% - 5px);
}
.width-95 {
  width: calc(95% - 5px);
}
.width-100 {
  width: calc(100% - 5px);
}
.center-img
{
  margin-left: auto;
  margin-right: auto;
}
